@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

$primary: #f4563d;
$primary-dark: #de5959;
$secundary: #ffc6bf;
$secundary-light: #fef4f2;
$white: #ffffff;

body {
    overflow-x: hidden;
    .btn {
        border-radius: 0px !important;
        font-size: 15px !important;
        padding: 5px 25px !important;
        min-width: 100px;
        font-family: 'Open Sans', sans-serif;
        span {
            font-size: 14px;
        }
        &:focus {
            box-shadow: none;
            outline: none;
        }
    }
    .btn-outline-secondary{
        border: 1px solid $primary !important;
        border-radius: 0px;
        color: $primary;
        background-color: transparent;
        &:hover {
            color: #6d6d6d;
            background-color: transparent;
            border: 1px solid #6d6d6d !important;
        }
    }
    .btn-outline-primary{
        background: $primary;
        border-radius: 0px;
        color: $white !important;
        border: 1px solid $primary;
        &:hover {
            background: $primary-dark;
            border: 1px solid $primary-dark;
        }
        &:focus {
            box-shadow: none;
            outline: none;
        }
        &:active {
            background-color: rgba(154, 54, 59, .8) !important;
        }
        &:disabled {
            background: $primary-dark;
        }
    }
}

@media (max-width: 767px) {
    body {
        &.menu-open {
            overflow: hidden;
        }
    } 
}

.form-group,
.form-control {
    label {
        width: 100%;
    }
    textarea {
        width: 100%;
        min-height: 150px;
        padding: 5px 10px;
        border: none;
    }
}
form {
    background: #f8f8f8;
    padding: 40px 30px;
    width: 100%;
    margin-bottom: 50px;
    .form-control {
        height: auto;
        background: transparent;
        padding: 0px;
        border: 0px;
        margin-bottom: 1rem;
        .error {
            color: red;
            font-size: 11px;
        }
    }
    img {
        max-width: 200px !important;
    }
    label {
        font-weight: bold;
        span {
            margin-left: 5px;
            color: $primary;
            text-transform: uppercase;
        }
    }
    input {
        padding: 3px 10px;
        border: none;
        width: 100%;
        border: 1px solid #e2e2e2;
        background: $white;
        border-radius: 3px;
        padding: 5px 10px;
        &:focus {
            outline: none;
            border: 1px solid $secundary;
        }
    }
    textarea {
        &:focus {
            outline: none;
            border: 1px solid $secundary;
        } 
    }
}


.MuiPaper-root {
    padding: 30px 20px 20px 20px;
    .books-header {
        margin: 0px 0px 30px 0px;
    }
    .MuiDialogActions-spacing {
        justify-content: center;
    }
    .MuiDialogTitle-root{
        h2 {
            font-family: 'Open Sans', sans-serif;
        }
    }
}

// ---------- Book ----------

.books-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0px;
    font-family: 'Open Sans', sans-serif;
    h3 {    
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        line-height: 36px;
        font-size: 40px;
        position: relative;
        span {
            font-weight: 300;
        }
        &:before {
            content: "";
            height: 90%;
            width: 2px;
            background: $primary;
            position: absolute;
            left: 0;
            top: 5%;
        }
    }
}
@media (max-width: 767px) {
    .books-header {
        flex-direction: column;
        align-items: end;
        .selector {
            width: 100%;
            margin: 5px 0px;
        }
    }
}
.wrapper-cards {
    margin-bottom: 50px;
    .card {
        background: #f8f8f8;
        border: 1px solid $secundary;
        padding: 15px;
        border-radius: 2px;
        margin-bottom: 20px;
        &:hover {
            background: #e9e9e9;
        }
        .card-body {
            padding: 0px;
            text-align: center;
            .card-title {
                margin-top: 15px;
            }
            .category {
                font-size: 12px;
                text-transform: uppercase;
            }
            .category + .category {
                margin-left: 10px;
                padding-left: 10px;
                position: relative;
                &:before {
                    content: "";
                    height: 80%;
                    width: 2px;
                    background: $primary;
                    position: absolute;
                    left: 0;
                    top: 10%;
                }
            }
        }
    }
    .card-wrapper-btn {
        margin-top: 15px;
        padding: 0px;
        display: flex;
         justify-content: space-around;
        span {
            width: 48%;
            border: none;
        }
    }
}
@media (max-width: 767px) {
    .wrapper-cards {
        .card {
            img {
                max-height: inherit;
            }
        }
    }
}

// ---------- Login ----------
.wrapper-login {
    text-align: center!important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    .login {
        background: #f8f8f8;
        width: 90%;
        max-width: 500px;
        padding: 25px 40px;
        .books-header {
            display: block;
            margin-bottom: 0px;
        }
        .logo {
            max-width: 240px;
            width: 100%;
            margin: 20px auto 0px auto;
        }
    }
}
@media (max-width: 767px) {
    .wrapper-login {
        .login {
            padding: 25px 30px;
            form {
                padding: 40px 0px 0px 0px;
            }
        }
    }
}

// ---------- Nav ----------
header {
    padding: 15px 0px;
    display: flex !important;
    justify-content: space-between;
    .icon-menu {
        display: none;
        z-index: 99;
    }
    .logo {
        width: 90px;
        z-index: 99;
    }
    nav {
        ul {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin: 0px;
            &.container {
                padding: 0px;
            }
            li {
                list-style: none;
                a {
                    color: $secundary;
                    display: inline-block;
                    margin-left: 10px;
                    text-transform: uppercase;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 13px;
                    display: flex;
                    flex-direction: column-reverse;
                    align-items: center;
                    background: $secundary-light;
                    padding: 8px 15px;
                    border-radius: 3px;
                    transition: all 0.4s;
                    svg {
                        color: $secundary;
                        margin-bottom: 5px;
                    }
                    &.active {
                        color: $primary;
                        svg {
                            color: $primary;
                        }
                    }
                    &:hover {
                        color: $primary;
                        text-decoration: none;
                        svg {
                            //color: $primary;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 767px) {
    header {
        .icon-menu {
            display: block;
            color: $primary;
            cursor: pointer;
            margin: 15px;
        }
        nav {
            position: fixed;
            background: $secundary-light;
            width: 100%;
            height: 100%;
            z-index: 9;
            padding-top: 100px;
            top: 0;
            left: 100%;
            transition: all 0.4s;
            ul {
                flex-direction: column;
                &.container {
                    padding: 0px 15px;
                }
                li {
                    width: 100%;
                    border-bottom: 1px solid $secundary;
                    &:last-child {
                        border: none;
                    }
                    a {
                        margin: 0px;
                        border-radius: 0px;
                        flex-direction: inherit;
                        justify-content: space-between;
                        padding: 12px 15px;
                    }
                }
            }
        }
        .icon-menu {
            &.is-select ~ nav {
                left: 0%;
            }
        }
    }
}

// ---------- Page Categories | Authors ----------
.page-categories,
.page-authors {
    margin-bottom: 50px;
    .btn-outline-primary {
        margin-top: 25px;
    }
    form {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .books-header {
            margin-top: 0px;
            margin-bottom: 0px;
        }
        .autor-name {
            width: 50%;
            input {
                width: 100%;
            }
        }
    }
}
@media (max-width: 767px) {
    .page-categories,
    .page-authors  {
        form {
            flex-direction: column;
            align-items: end;
            .autor-name {
                width: 100%;
            }
        }
    }
}
.item-category,
.item-author {
    margin-bottom: 20px;
    box-shadow: 0 2px 43px 0 rgba(0,0,0,0.09);
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .icon-delete {
        width: 25px;
        cursor: pointer;
        &:hover {
            background: #e4e4e4;
            border-radius: 5px;
        }
    }
}

// ---------- Selector Categories ----------
.selector {
    min-width: 350px;
    .css-yk16xz-control {
        border-color: $secundary;
        &:hover {
            border-color: $secundary;
        }
        .css-1wa3eu0-placeholder {
            color: $primary;
        }
        .css-1okebmr-indicatorSeparator {
            background-color: $secundary;
        }
        svg {
            color: $primary;
        }
    }
}

// ---------- Book Detail ----------
.book-detail {
    .book {
        display: flex;
        background: #f8f8f8;
        padding: 15px;
        border-radius: 0px;
        margin-bottom: 20px;
        border: none;
        img {
            max-width: 300px;
            margin-bottom: 20px;
        }
        .wrapper-text {
            padding: 30px;
            .item {
                display: flex;
                align-items: center;
                span {
                    font-weight: normal;
                    position: relative;
                    margin-left: 10px;
                    padding-left: 10px;
                    text-transform: uppercase;
                    font-size: 14px;
                    &:before {
                        content: "";
                        height: 80%;
                        width: 2px;
                        background: $primary;
                        position: absolute;
                        left: 0;
                        top: 10%;
                    }
                }
            }
            .description {
                margin-top: 20px;
            }
        }
    }
}


.score {
    margin-bottom: 25px;
    span {
        margin-right: 5px;
        cursor: pointer;
        width: 32px;
        height: 32px;
        display: inline-block;
        &.off {
            background-image: url("assets/images/star.png");
        }
        &.on {
            background-image: url("assets/images/star-full.png");
        }
    }
}
.book-detail {
    .score {
        span {
            cursor: inherit;
            width: 20px;
            height: 20px;
            background-size: 20px;
        }
    }
}

// ---------- Formato Vista Página Books ----------
.view-format-column {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
    font-size: 13px;
    color: #636363;
    .text {
        margin-right: 10px;
    }
    // .separator {
    //     margin: 0px 5px;
    // }
    .item-container {
        .item {
            cursor: pointer;
            &.is-select {
                color: $primary;
                font-weight: 500;
            }
        }
    }
    .switch-view-format {
        margin: 0px;
    }
}


