@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
body .btn {
  border-radius: 0px !important;
  font-size: 15px !important;
  padding: 5px 25px !important;
  min-width: 100px;
  font-family: "Open Sans", sans-serif;
}
body .btn span {
  font-size: 14px;
}
body .btn:focus {
  box-shadow: none;
  outline: none;
}
body .btn-outline-secondary {
  border: 1px solid #f4563d !important;
  border-radius: 0px;
  color: #f4563d;
  background-color: transparent;
}
body .btn-outline-secondary:hover {
  color: #6d6d6d;
  background-color: transparent;
  border: 1px solid #6d6d6d !important;
}
body .btn-outline-primary {
  background: #f4563d;
  border-radius: 0px;
  color: white !important;
  border: 1px solid #f4563d;
}
body .btn-outline-primary:hover {
  background: #de5959;
  border: 1px solid #de5959;
}
body .btn-outline-primary:focus {
  box-shadow: none;
  outline: none;
}
body .btn-outline-primary:active {
  background-color: rgba(154, 54, 59, 0.8) !important;
}
body input {
  border: 1px solid #ffc6bf;
  background: transparent;
  padding: 4px;
  border-radius: 2px;
}

.form-group label {
  width: 100%;
}
.form-group textarea {
  width: 100%;
  min-height: 150px;
  padding: 5px 10px;
  border: none;
}

form {
  background: #f8f8f8;
  padding: 40px 30px;
  width: 100%;
  margin-bottom: 50px;
}
form img {
  max-width: 200px !important;
}
form label {
  font-weight: bold;
}
form label span {
  margin-left: 5px;
  color: #f4563d;
  text-transform: uppercase;
}
form input:focus {
  outline: none;
}
form input[type=text] {
  padding: 3px 10px;
  border: none;
  width: 100%;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  padding: 5px 10px;
}

.MuiPaper-root {
  padding: 30px 20px 20px 20px;
}
.MuiPaper-root .books-header {
  margin: 0px 0px 30px 0px;
}
.MuiPaper-root .MuiDialogActions-spacing {
  justify-content: center;
}
.MuiPaper-root .MuiDialogTitle-root h2 {
  font-family: "Open Sans", sans-serif;
}

.books-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0px;
  font-family: "Open Sans", sans-serif;
}
.books-header h3 {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  line-height: 36px;
  font-size: 40px;
  position: relative;
}
.books-header h3 span {
  font-weight: 300;
}
.books-header h3:before {
  content: "";
  height: 90%;
  width: 2px;
  background: #f4563d;
  position: absolute;
  left: 0;
  top: 5%;
}

.wrapper-cards {
  margin-bottom: 50px;
}
.wrapper-cards .card {
  background: #f8f8f8;
  padding: 15px;
  border-radius: 0px;
  margin-bottom: 20px;
  border: none;
}
.wrapper-cards .card:hover {
  background: #e9e9e9;
}
.wrapper-cards .card img {
  max-height: 345px;
}
.wrapper-cards .card .card-body {
  padding: 0px;
  text-align: center;
}
.wrapper-cards .card .card-body .card-title {
  margin-top: 15px;
}
.wrapper-cards .card .card-body .category {
  font-size: 12px;
  text-transform: uppercase;
}
.wrapper-cards .card .card-body .category + .category {
  margin-left: 10px;
  padding-left: 10px;
  position: relative;
}
.wrapper-cards .card .card-body .category + .category:before {
  content: "";
  height: 80%;
  width: 2px;
  background: #f4563d;
  position: absolute;
  left: 0;
  top: 10%;
}
.wrapper-cards .card .card-body .card-wrapper-btn {
  margin-top: 15px;
  padding: 0px;
  display: flex;
  justify-content: space-around;
}
.wrapper-cards .card .card-body .card-wrapper-btn span {
  width: 48%;
  border: none;
}

.wrapper-login {
  text-align: center !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
}
.wrapper-login .login {
  background: #f8f8f8;
  width: 500px;
  padding: 25px 40px;
}
.wrapper-login .login .books-header {
  display: block;
}

nav {
  padding: 10px 0px;
  display: flex !important;
  justify-content: space-between;
}
nav .logo {
  width: 90px;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0px;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  color: #212629;
  display: inline-block;
  margin-right: 15px;
}
nav ul li a.active {
  position: relative;
  border-top: 2px solid #f4563d;
  border-bottom: 2px solid #f4563d;
}

.page-categories,
.page-authors {
  margin-bottom: 50px;
}
.page-categories .btn-outline-primary,
.page-authors .btn-outline-primary {
  margin-top: 25px;
}
.page-categories form,
.page-authors form {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.page-categories form .books-header,
.page-authors form .books-header {
  margin-top: 0px;
  margin-bottom: 0px;
}
.page-categories form .autor-name,
.page-authors form .autor-name {
  width: 50%;
}
.page-categories form .autor-name input,
.page-authors form .autor-name input {
  width: 100%;
}

.item-category,
.item-author {
  margin-bottom: 20px;
  box-shadow: 0 2px 43px 0 rgba(0, 0, 0, 0.09);
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-category .icon-delete,
.item-author .icon-delete {
  width: 25px;
  cursor: pointer;
}
.item-category .icon-delete:hover,
.item-author .icon-delete:hover {
  background: #e4e4e4;
  border-radius: 5px;
}

.selector {
  min-width: 350px;
}

.book-detail .book {
  display: flex;
  background: #f8f8f8;
  padding: 15px;
  border-radius: 0px;
  margin-bottom: 20px;
  border: none;
}
.book-detail .book img {
  max-width: 300px;
  margin-bottom: 20px;
}
.book-detail .book .wrapper-text {
  padding: 30px;
}
.book-detail .book .wrapper-text .item {
  display: flex;
  align-items: center;
}
.book-detail .book .wrapper-text .item span {
  font-weight: normal;
  position: relative;
  margin-left: 10px;
  padding-left: 10px;
  text-transform: uppercase;
  font-size: 14px;
}
.book-detail .book .wrapper-text .item span:before {
  content: "";
  height: 80%;
  width: 2px;
  background: #f4563d;
  position: absolute;
  left: 0;
  top: 10%;
}
.book-detail .book .wrapper-text .description {
  margin-top: 20px;
}

.score {
  margin-bottom: 25px;
}
.score span {
  margin-right: 5px;
  cursor: pointer;
  width: 32px;
  height: 32px;
  display: inline-block;
}
.score span.off {
  background-image: url("assets/images/star.png");
}
.score span.on {
  background-image: url("assets/images/star-full.png");
}

.book-detail .score span {
  cursor: inherit;
  width: 20px;
  height: 20px;
  background-size: 20px;
}/*# sourceMappingURL=index.css.map */